@font-face {
    font-family: 'AlibabaPuHuiTi-3-115-Black';
    src: url('../fonts/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-115-Black/AlibabaPuHuiTi-3-115-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaPuHuiTi-3-75-SemiBold';
    src: url('../fonts/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-75-SemiBold/AlibabaPuHuiTi-3-75-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiSans-Heavy';
    src: url('../fonts/MiSans/woff2/MiSans-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* 防止滚动条出现 */
}

#app {
    position: relative;
    /* 动态计算宽度和高度 */
    width: min(100vw, 100vh * 1.5); /* 宽度不超过 100vh * 1.5 */
    height: min(100vw / 1.5, 100vh); /* 高度不超过 100vh */
    background-image: url("../images/纯背景.jpg"); /* 背景图片路径 */
    background-size: cover; /* 图片拉伸以覆盖整个容器 */
    background-position: center; /* 图片居中显示 */
}

/*.header {*/
/*    position: absolute;*/
/*    top: 28.4%;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.5); !* 背景颜色透明度 50% *!*/
/*    color: white;*/
/*    text-align: center;*/
/*    line-height: 50px;*/
/*}*/
.date-range {
    position: absolute;
    top: 30.56%;
    width: 100%;
    color: rgb(108, 147, 120);
    text-align: center;
    font-size: 30px;
    font-family: AlibabaPuHuiTi-3-75-SemiBold, sans-serif;
    transform: translateY(-50%); /* Center the element vertically */
}

table, table tr th, table tr td {
    border: 4px solid rgb(29, 93, 77);
}

table {
    position: absolute;
    top: 36.3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 41%;
    width: 95.26%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    height: 26.67%;
}

th {
    width: calc(100% / 7); /* Assuming there are 7 columns */
}

tbody {
    height: 73.33%;
}

body {

}

.day-of-week {
    color: rgb(29, 93, 77);
    font-size: 30px;
    font-family: AlibabaPuHuiTi-3-115-Black, sans-serif;
}

.day {
    color: rgb(108, 147, 120);
    font-size: 21px;
    font-family: AlibabaPuHuiTi-3-115-Black, sans-serif;
}

.time {
    color: rgb(29, 93, 77);
    font-size: 28px;
    /*font-weight: bold;*/
    font-family: AlibabaPuHuiTi-3-115-Black, sans-serif;
}

.name {
    color: rgb(29, 93, 77);
    font-size: 28px;
    /*font-weight: bold;*/
    font-family: AlibabaPuHuiTi-3-115-Black, sans-serif;
}

.name.special-name {
    font-family: MiSans-Heavy, sans-serif;
}

.with-image {
    position: relative;
}

.with-image::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 70%;
    /*transform: translateX(-50%);*/
    width: 100px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    /*background-image: url('../images/沐.png');*/
    background-size: contain;
    background-repeat: no-repeat;
}

.queenie::after {
    background-image: url('../images/沐.png');
}

.yoyi::after {
    background-image: url('../images/又.png');
}

.lian::after {
    background-image: url('../images/梨.png');
}

.bekki::after {
    background-image: url('../images/恬.png');
}
