@import "tailwindcss";

@theme {
    --color-sxwz: rgb(29, 93, 77);
    --color-sxwz-light: rgb(108, 147, 120);
}

@theme {
    --font-display: AlibabaPuHuiTi-3-115-Black, MiSans-Heavy, sans-serif;
}

@font-face {
    font-family: "AlibabaPuHuiTi-3-115-Black";
    src: url("/src/assets/fonts/AlibabaPuHuiTi-3-115-Black.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AlibabaPuHuiTi-3-75-SemiBold";
    src: url("/src/assets/fonts/AlibabaPuHuiTi-3-75-SemiBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MiSans-Heavy";
    src: url("/src/assets/fonts/MiSans-Heavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


.with-image {
    position: relative;
}

.with-image::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 70%;
    /*transform: translateX(-50%);*/
    width: 3vh;
    height: 3vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.with-image,
.with-image::after {
    transition: opacity 0.3s;
}

.icon.queenie {
    background-image: url("/src/assets/images/queenie.png");
}

.icon.yoyi {
    background-image: url("/src/assets/images/yoyi.png");
}

.icon.lian {
    background-image: url("/src/assets/images/lian.png");
}

.icon.bekki {
    background-image: url("/src/assets/images/bekki.png");
}

.icon {
    width: 3vh;
    height: 3vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 70%;
    translate: 0 50%;
}

.with-image.rest::after {
    /*visibility: hidden;*/
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/src/assets/images/rest.png");
}